.ProjectsSection {
  margin-top: 32px;
}

.ProjectsSection .intro {
  display: flex;
}

.ProjectsSection .title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 4px;
}

.ProjectsSection .subtitle {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-mute-color);
}

.ProjectsSection .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  margin-top: 20px;
}

.ProjectsSection .cards .card {
  width: calc(100% / 2 - 24px);
}

.ProjectsSection .card:hover {
  background-color: var(--projects-hover-color);
}

@media screen and (max-width: 600px) {
  .ProjectsSection .cards .card {
    width: 100%;
  }
}
