.Navbar {
  margin-top: 32px;
}

.container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar a {
  text-decoration: none;
}

.navbarIcon {
  cursor: pointer;
}

.container .items {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
