.HomeHeader {
  max-width: 768px;
  margin: 0 auto;
}

.HomeHeader .title {
  font-size: 36px;
  margin-bottom: 8px;

  color: var(--text-color);
}

.HomeHeader .lead {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: var(--text-mute-color);
}
