.Blog a {
  text-decoration: none;
}

.title {
  font-size: 36px;
  margin-bottom: 8px;

  color: var(--text-color);
}

.postList {
  margin-top: 32px;
}

.post {
  max-width: 500px;
  margin-top: 16px;
}

.post .title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;

  color: var(--text-color);
}

.post:hover .title {
  text-decoration: underline;
}

.description {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;

  color: var(--text-mute-color);
}

.readIn,
.date {
  margin-top: 4px;

  color: var(--text-mute-color);
}
