:root {
  /* fonts */
  --base-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  --font-family: 'Note Sans', var(--base-font-family);
  --title-font-family: 'Montserrat', var(--font-family);

  /* global */
  --black: #111111;
  --white: #ffffff;

  --link: #192c71;
  --link-hover: #353556;

  /* text */
  --text-color: #484444;
  --text-mute-color: #6c6c7f;

  /* colors */
  --projects-color: #85e3ff;
  --projects-hover-color: #85e3ff80;
}

* {
  box-sizing: border-box;
  color: var(--text-color)
}

body {
  font-family: var(--font-family);
  background: var(--background);
  color: var(--text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
