.title {
  font-size: 36px;
  margin-bottom: 8px;

  color: var(--text-color);
}

.date {
  font-size: 14px;
  margin-bottom: 16px;

  color: var(--text-mute-color);
}

.articleData p {
  margin-top: 14px;
  line-height: 24px;
}

.articleData p code {
  background-color: #f6f8fa;
  color: black;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  font-family: 'Fira Code', monospace;
}

.articleData pre {
  background-color: #f6f8fa;
  border-radius: 4px;
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  tab-size: 4;
  hyphens: none;
}

.articleData img {
  object-fit: contain;
  width: 100%;
  border-radius: 4px;
}

.goBack {
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 24px;
  }
}
